@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-side {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

#root {
  text-align: center;
}

.logo {
  width: 60px;
  height: 90px;
}

.fullHeight {
  min-height: 100vh;
}

.margin-content {
  margin: 16px 16px 16px 16px;
}

.menu-align {
  text-align: left;
}

.card-posts-main {
  font-size: 14;
  color: "rgba(0, 0, 0, 0.85)";
  margin-bottom: 16px;
  font-weight: 50;
}

.ant-layout-detail {
  text-align: left;
}

.tag-post-detail {
  margin-top: 0.5em !important;
}

.ant-card-meta-detail {
  display: inline-flex !important;
}

.ant-card-meta-description {
  padding-top: 0.5em !important;
}

.ant-card-meta-detail {
  display: inline-flex !important;
}

.ant-card-meta-description {
  padding-top: 0.5em !important;
}
