@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#components-layout-demo-side {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

#root {
  text-align: center;
}

.logo {
  width: 60px;
  height: 90px;
}

.fullHeight {
  min-height: 100vh;
}

.margin-content {
  margin: 16px 16px 16px 16px;
}

.menu-align {
  text-align: left;
}